/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
h2{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  background-color: rgb(48, 5, 48);
  color: white;
  margin: 0px 250px;
  border-radius: 10px;
}


form{
  width: 1170px;
  margin: auto;
  display: flex;
  margin-top: 50px;
  gap: 10px;
}

form input{
  flex-basis: 80%;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
font-weight: bold;
}

form button{
  flex-basis: 20%;
  border-radius: 10px;
font-size: 24px;
font-weight: bold;
}

.outerDiv{
  width: 1170px;
  margin: auto;
}

.outerDiv ul li{
  list-style: none;
  background-color: rgb(53, 52, 52);
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  position: relative;
}

.outerDiv span{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.CorrectTodo{
  text-decoration: line-through;
  color: red !important;
  background-color: yellow !important;
}